<div class='row sticky_element bg-white pt-2 pb-2 mt-2 mb-2'>
	<div class='col'>
		<h1>
			Formulário do Aluno
		</h1>
	</div>
</div>
<div class='row mt-1'>
	<div class='col-10'>
		<h5>
			Dados Gerais
		</h5>
	</div>
	<div class='col-2'>
		<button
			class="btn btn-danger w-100"
			onclick="abre_msg_confirmacao(
					document.querySelectorAll('.input_aluno')[0].value,
					'/exclui_aluno',
					'Confirma a Exclusão do Aluno ?',
					'gera_table_aluno'
				) 
			"
		>
			<i class="bi bi-trash"></i>
		</button>		
	</div>
</div>


<div class='row border-top'>
	<div class='col'>
		&nbsp;
	</div>
</div>
<div class="row" style="display: none;">
	<div class="col">
		<form method="POST" action="/upload" enctype="multipart/form-data">
			<input type="text" name="id_do_aluno" id="id_do_aluno" />
			<p><input type="file" name="file" id="input_file" onchange="ao_subir_a_foto()" /></p>
			<p><input type="submit" id="envia_foto"  value="Submit"></p>
		</form>
	</div>
</div>
<div class="row">
	<div class="col">
		<button class="btn btn-outline-primary" onclick="fake_click()">Upload da Foto</button>
	</div>
</div>
<div class="row mt-3 mb-3">
	<div class="col">
		<img id="recebe_foto" style="width: 200px">
	</div>
</div>

<script>
	function fake_click(){
		document.getElementById('input_file').click()
	}
	function ao_subir_a_foto(){
		document.getElementById('id_do_aluno').value = document.getElementsByName('id')[0].value
		document.getElementById('envia_foto').click()
	}
</script>
<div id='form_aluno_parte_1'></div>

<div class='row mt-2'>
	<div class='col'>
		<h5>
			Endereço
		</h5>
	</div>
</div>
<div class='row border-top'>
	<div class='col'>
		&nbsp;
	</div>
</div>
<div id='form_aluno_parte_2'></div>
<div class='row'>
	<div class='col'>
		&nbsp;
	</div>
</div>

<script>
	

	
	$( document ).ready(function() {
		var meus_inputs = [
			{
				label_innerHTML: 'ID',
				type: 'number',
				name: 'id',
				disabled: true,
				input_class: 'input_aluno'
			},{
				label_innerHTML: 'Nome',
				type: 'text',
				name: 'nome',
				required: true,
				func_oninput: (e) => tira_is_invalid(e),
				input_class: 'input_aluno'
			},{
				label_innerHTML: 'Sobrenome',
				type: 'text',
				required: true,
				func_oninput: (e) => tira_is_invalid(e),
				name: 'sobre_nome',
				input_class: 'input_aluno'
			},{
				label_innerHTML: 'Nome do Pai',
				type: 'text',
				required: true,
				func_oninput: (e) => tira_is_invalid(e),
				name: 'nome_do_pai',
				input_class: 'input_aluno'
			},{
				label_innerHTML: 'Nome da Mãe',
				type: 'text',
				name: 'nome_da_mae',
				input_class: 'input_aluno'
			},{
				label_innerHTML: 'Data de Nascimento',
				type: 'date',
				name: 'data_de_nascimento',
				input_class: 'input_aluno'
			}, {
				label_innerHTML: 'Telefone',
				type: 'text',
				name: 'telefone',
				input_class: 'input_aluno'
			}, {
				label_innerHTML: 'CPF',
				type: 'text',
				name: 'cpf',
				input_class: 'input_aluno'
			}
			]
		
		meus_inputs.forEach((item)=>{
			gera_input(item, '#form_aluno_parte_1')
		})
		
		var meus_inputs = [{
				label_innerHTML: 'Logradouro',
				type: 'select',
				name: 'logradouro',
				input_class: 'input_aluno',
				opts_arr: [
					'rua',
					'avenida',
					'travessa',
					'servidao'
				],
				opt_arr_innerHTML: [
					'Rua',
					'Avenida',
					'Travessa',
					'Servidão'
				]
			},{
				label_innerHTML: 'Rua',
				type: 'text',
				name: 'rua',
				input_class: 'input_aluno'
			},{
				label_innerHTML: 'Bairro',
				type: 'text',
				name: 'bairro',
				input_class: 'input_aluno'
			},{
				label_innerHTML: 'Cidade',
				type: 'text',
				name:'cidade',
				input_class: 'input_aluno'
			},{
				label_innerHTML: 'Estado',
				type: 'text',
				name: 'estado',
				input_class: 'input_aluno'
			},{
				label_innerHTML: 'CEP',
				type: 'text',
				name: 'cep',
				input_class: 'input_aluno'
			}]
		
		meus_inputs.forEach((item)=>{
			gera_input(item, '#form_aluno_parte_2')
		})
	})	
</script>
