<body>
	<p>
		APP para Escolas
	</p>
	<input type='text' id="nome_aluno"/>
	<button id='btn_salvar_aluno'>Salvar</button>
	<div id='paragrafo_alunos'>
	
	</div>
</body>
<script>
	$( document ).ready(function() {
		
		// AO CLICAR DO BOTÃO
		$( "#btn_salvar_aluno" ).on( "click", function() {		  
		  $.ajax({
			url: '/salvar_aluno',
			type: 'POST',
			data: JSON.stringify({nome: $('#nome_aluno').val()}),
			contentType: "application/json",
			dataType: "json",
		  })		  
		});
		
		// LEITURA DOS DADOS
		$.ajax({
			url: '/ler_todos_alunos',
			type: 'POST'			
		}).done(function (retorno){
			
			var dados = retorno.dados
			dados.forEach((item) => {
				$('#paragrafo_alunos').append(item)
				$('#paragrafo_alunos').append('<br>')
			})
		})
		
	});
</script>