<div class='col'>
	<div class='row mt-3'>
		<div class='col'>
			<button class='w-100'>Alunos</button>
		</div>
		<div class='col'>
			<button class='w-100'>Turmas</button>
		</div>
	</div>
	<div class='row mt-3'>
		<div class='col'>
			<button class='w-100'>Séries</button>
		</div>
		<div class='col'>
			<button class='w-100'>Turnos</button>
		</div>
	</div>
	<div class='row mt-3'>
		<div class='col'>
			<button class='w-100'>Chamada</button>
		</div>
		<div class='col'>
			<button class='w-100'>Boletim</button>
		</div>
	</div>
</div>