<div class='col'>
	<div class='row mt-3'>
		<div class='col'>
			<button class='w-100 p-3'>Alunos</button>
		</div>
		<div class='col'>
			<button class='w-100 p-3'>Turmas</button>
		</div>
	</div>
	<div class='row mt-3'>
		<div class='col'>
			<button class='w-100 p-3'>Séries</button>
		</div>
		<div class='col'>
			<button class='w-100 p-3'>Turnos</button>
		</div>
	</div>
	<div class='row mt-3'>
		<div class='col'>
			<button class='w-100 p-3'>Chamada</button>
		</div>
		<div class='col'>
			<button class='w-100 p-3'>Boletim</button>
		</div>
	</div>
</div>